<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Page de connexion VT</title>
	<link rel="stylesheet" href="../css/login.css" />

</head>

<body>
	
	 <header> <h1> Visual Timetabling</h1> </header>

    <div id="login-form">

        <h3>Bienvenu sur Visual Timetabling</h3>

        <fieldset>

            <form action="{{path('calendar_login_page')}}" method="POST">

                <input name="mail" type="text" required="true" label="Login" placeholder="Login" > 
                <input name="mdp" type="password" required="true" placeholder="Mot de passe" >                
                <input type="submit" value="Connexion">

                <footer class="clearfix">
                    <p><span class="info">?</span><a href="{{path('calendar_oubli_mdp_page')}}">Mot de passe oublié</a></p>
                    <p><span class="info">?</span><a href="{{path('calendar_creation_compte_page')}}">Créer un nouveau compte</a></p>  
                </footer>

            </form>

        </fieldset>

    </div>

</body>
</html> 